/* Style the body's color to black, have auto margins, and have padding on left and right */
body {
  background-color: black;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* styles for about me, performance, and oem parts paragraphs */
.intro h2,
.performance h2,
.oem_parts h2 {
  text-align: center;
  font-size: 3em;
  font-family: "Trebuchet MS";
}

/* Padding for performance and oem_parts paragraphs */
.performance h2,
.oem_parts h2 {
  padding-top: 2.5em;
}

/* Center align and adjust font size for h1 intro heading */
.intro h1 {
  text-align: center;
  font-size: 4em;
}

/* Set font family and color for h1 and h2 headings */
h1,
h2 {
  font-family: "Trebuchet MS";
  color: #b31818;
}

/* Styles for footer and references link */
footer,
.references {
  text-align: center;
  font-family: "Trebuchet MS";
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  transition: 0.4s;
}

/* Styles for links */
a {
  font-family: "Trebuchet MS";
  color: white;
  transition: 0.4s;
}

/* Styles for hovering state for links */
a:hover {
  color: #b31818;
}

/* Styles for paragraph elements */
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* Center align video */
.video {
  text-align: center;
}

/* Style youtube videos */
.youtube {
  width: 60%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  object-fit: cover;
}

/* Adjust margins of performance and oem_parts paragraphs */
.performance p,
.oem_parts p {
  margin-bottom: 2em;
}

/* Set styles for intro, performance, and oem_parts paragraphs */
.intro p,
.performance p,
.oem_parts p {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  width: 60%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Set grid area of h1 headers and style */
.grid_items h1 {
  grid-area: header;
  text-align: center;
  padding-bottom: 0.3em;
  margin-top: 0;
  font-size: 3em;
  font-weight: bolder;
}

/* Set grid area of top picture and style */
.grid_items .top_pic {
  grid-area: top;
  padding-right: 25px;
  padding-bottom: 10px;
  max-width: 100%;
}

/* Set grid area of bottom picture and style */
.grid_items .bottom_pic {
  grid-area: bottom;
  padding-right: 25px;
  max-width: 100%;
}

/* Set grid area of descriptions and style */
.grid_items p {
  grid-area: description;
  font-size: 2.5em;
  padding-left: 1.5em;
}

/* Set grid area of shopping links and style */
.grid_items a {
  grid-area: link;
  font-size: 3em;
  padding-left: 1.5em;
  bottom: 0;
}

/* Setup entire grid template areas and style whole grid */
.grid_items {
  position: relative;
  padding: 3em;
  border: 10px solid #b31818;
  border-collapse: separate;
  border-spacing: 100px 100px;
  display: grid;
  margin-bottom: 40px;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-areas:
    "header header"
    "top description"
    "bottom description"
    "bottom link";
}

/* Set up media query for tablet */
@media screen and (max-width: 1000px) {
  /* Adjust font size of links and description paragraphs */
  .grid_items p,
  .grid_items a {
    font-size: 2em;
  }
}

/* Set up media query for mobile devices like phones */
@media screen and (max-width: 700px) {
  /* Adjust font size, align text to center, and adjust padding of links and paragraphs */
  .grid_items p,
  .grid_items a {
    text-align: center;
    font-size: 2em;
    padding: 0px;
  }

  /* Adjust width of intro, performance, and oem_parts paragraphs */
  .intro p,
  .performance p,
  .oem_parts p {
    width: 90%;
  }

  /* Adjust youtube video width */
  .youtube {
    width: 90%;
  }

  /* Make grid layout stacked instead of side by side */
  .grid_items {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "top"
      "bottom"
      "description"
      "link";
  }
}
